body {
    margin: 0;
    padding: 0;
    background-color: #20364b;
    font-family: sans-serif;
}

header {
    background-color: rgb(20, 20, 20);
    color: orangered;
    

}

.logo {
    float: left;
    width: 150px;
    height: 300px;
    
}

.hyper {
    float: right;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none   ;
    padding-top: 128px;
    padding-right: 64px;
    color: rgb(115, 238, 238);
   
}

.hyper:hover {
    color: rgb(17, 185, 185);
    text-shadow: 1px 1px ;
    transition: 0.2s ;
    
}



section {
    float: left;
    color: aqua;
    
    padding-left: 4rem;
}

.p1 {
    
    width: 50%;
}

.cta input {
    border-radius: 16px;
    display: block;
    margin-top: 16px;
    border-color: black;
}

h1 {
    font-weight: 800;
    font-size: 3rem;
}

.img img {
    float: right;
    width: 600px;
    height: 500px;
    background-color: aliceblue;
}

.a {
    display: flex;
    flex-direction:reverse;
    float: right;
}

.sh1 {
    color: rgb(219, 219, 0);
}